@model System.Data.DataTable

@{
    ViewBag.Title = "Groups";
}

<h2>Groups</h2>


<table class="table">
    <tr>
        <th>
            Group
        </th>
        <th>
            Student name
        </th>
        <th>
           Student type
        </th>
        <th>
            
        </th>
    </tr>

    @for (int i = 0; i < Model.Rows.Count; i++)
    {
        <tr>
            <td>
                @Model.Rows[i]["group_title"]
            </td>

            <td>
                @Model.Rows[i]["reg_name"]
            </td>


            <td>
                @if (@Model.Rows[i]["reg_status"].ToString() == "0")
                {
                    <p>Current</p>
                }
                else if (@Model.Rows[i]["reg_status"].ToString() =="1")
                {
                    <p>Past</p>
                }
            </td>


            <td>
                <img src="../Assets/@Model.Rows[i]["reg_pic"]" withd="70" height="70" />
            </td>

        </tr>
    }

</table>
